<!DOCTYPE html>
<html>
<head>
  <title>Front Face Recognition for multiple faces</title>
  <link rel="stylesheet" type="text/css" href="static/main.css">
</head>
<body>

  <div class="col">
    <h1>Front Face Recognition for multiple faces</h1>
    <!-- <BUTTON id="demo" onclick="myFunction()">add user</BUTTON> -->
    <!-- <BUTTON id="video" onclick="openvid()">open video</BUTTON> -->

	<!-- <h2>Upload a car image</h2> --> 

    <form class="btn" action="" method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>

    <h2>Results</h2>
    <h3>Image</h3>
    <h1>{{name}} </h1>
    <img src={{imagesource}}>
     <!-- <h1>{{verfied}}</h1> -->

  </div>
<!-- <script>
 function myFunction(form) {
  window.open('add.html','_self');

}
function openvid(form) {
  window.open('video.html','_self');

}
</script> -->
</body>
</html>